In [4]:
for i in range(1, 10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [8]:
while True:
    n = int(input())
    if n < 0:
        break
    else:
        print(n)

 10

10

 -10

In [12]:
while True:
    n = int(input())
    if n < 0:
        print("Loop ends")
        break
    else:
        print(f"The entered value is : {n}")

 10

The entered value is : 10

 20

The entered value is : 20

 -5

Loop ends

In [13]:
x = 10
if x > 5:
    print("A")
else:
    print("B")

A

In [14]:
for i in range(1, 5):
    if i == 3:
        continue
    print(i, end=" ")

1 2 4

In [16]:
n = 7
while n > 0:
    if n == 4:
        break
    print(n, end=" ")
    n -= 1

7 6 5

In [17]:
marks = 65
if marks >= 90:
    print("A Grade")
elif marks >= 75:
    print("B Grade")
elif marks >= 60:
    print("C Grade")
else:
    print("False")

C Grade

In [19]:
# 1.Write a program to check whether a number is positive or negative
n = int(input())
if n > 0:
    print("Positive")
else:
    print("Negative")

 6

Positive

In [21]:
# 2. Check if a number is even or odd
n = int(input())
if n % 2 == 0:
    print("Even")
else:
    print("Odd")

 4

Even

In [22]:
# 3. Take two numbers as input and print the larger one
num1 = int(input())
num2 = int(input())
if num1 > num2:
    print(f"the first number is big: {num1}")
else:
    print(f"the second number is big: {num2}")

 45
 2

the first number is big: 45

In [35]:
# 4. A shop gives a discount of 10% if the bill is more than 1000. Write a program to calculate the final amount
amount = int(input())
if amount >= 1000:
    discount = amount/10
    total = amount - discount
    print(f"apply 10% discount on the our shopping: {total}")
else:
    print(f"buy more products: {amount}")

 1100

apply 10% discount on the our shopping: 990.0

In [29]:
# 5. Take two numbers as input and print the larger one
a = int(input())
b = int(input())
if a > b:
    print(f"{a} is greater than {b}")
else:
    print(f"{a} is smaller than {b}")

 14
 34

14 is smaller than 34

In [32]:
a, b = map(int, input().split(" "))
if a > b:
    print(f"{a} is greater than {b}")
else:
    print(f"{a} is smaller than {b}")

 10 23

10 is smaller than 23

In [42]:
# A shop gives a discount of 10% if the bill is more than 1000. Write a program to calculate the final amount
a = int(input())
if a >= 1000:
    discount = a/10
    total = a - discount
    print(f"The total bill is:{a} and total bill is: {total}")
else:
    print("Your total bill")

 1000

The total bill is:1000 and total bill is: 900.0

In [39]:
n = int(input())
if n >= 1000:
    amount = n*10/100
    total = n-amount
    print(total)
else:
    print("not found")

 1100

990.0

In [44]:
# 6. Input three numbers and find the largest number using Nested if
a = int(input())
b = int(input())
c = int(input())
if b > a and b > c:
    print(f"{b} is greater")
else:
    print(f"{c} is Greater")

 12
 13
 14

14 is Greater

In [48]:
a, b, c = map(int, input().split())
if b > a and b > c:
    print(f"{b} is greater")
else:
    print(f"{c} is Greater")

 100 200 300

300 is Greater

In [61]:
# 7. Check whether a year is a leap year. (divisible by 4, but if divisible by 100 then must also be divisible by 400).
n = int(input())
if n%4 == 0 and n % 400 == 0:
    print("leap year")
else:
    print("not leap year")

 2023

not leap year

In [62]:
n = int(input())
if n%100 == 0 and n%400 == 0:
    print("Leap year")
else:
    print("not leap year")

 2023

not leap year

In [59]:
# 8. Input age and gender, and decide whether the person is eligible for pension
# Male: >= 65
# female: >= 60
age = int(input("enter a age:"))
gender = input("enter a gender:")
if gender=="male" and age >= 65:
    print("elgible to pension")
elif gender == "female" and age >= 60:
    print("eligible to pension")
else:
    print("not eligible")

enter a age: 22
enter a gender: male

not eligible

In [63]:
n = int(input())
if n%4 == 0:
    print("Leap year")
elif n%100 == 0 and n%400 == 0:
    print("leap year")
else:
    print("not leap year")

 2023

not leap year

In [2]:
# Lists
listt = [10, 20, 30, 40, 50]
length = len(listt)
print(length)

5

In [3]:
listt = list(map(int, input().split()))
print(listt)
print(len(listt))

 10 20 30 40 50

[10, 20, 30, 40, 50]
5

In [5]:
listt = list(map(int, input().split()))
print(list[2])
print(listt[len(listt)-1])

 10 20 30 40 50

list[2]
50

In [7]:
listt = list(map(int, input().split()))
for i in range(len(listt)):
    print(listt[i])

 10 20 30 40 50

10
20
30
40
50

In [8]:
listt = [10,20,30,40,50]
for i in listt:
    print(i)

10
20
30
40
50

In [9]:
listt = [10,20,30,40,50]
for ele in listt:
    print(ele, end=" ")

10 20 30 40 50

In [10]:
listt = list(map(int, input().split()))

index = 0
while index < len(listt):
    print(listt[index])
    index += 1

 10 20 30 40 50

10
20
30
40
50

In [11]:
listt = [10,20,30,40,50]
for index, value in enumerate(listt):
    print(index, value)

0 10
1 20
2 30
3 40
4 50

In [12]:
# slicing
listt = [10,20,30,40,50]
new_list = listt[1:4]
print(new_list)

[20, 30, 40]

In [14]:
listt = [10,20,30,40,50]
new_list = listt[1::2]
print(new_list)

[20, 40]

In [17]:
# reversing the number can slicing
listt = [10,20,30,40,50]
new_list = listt[::-1]
print(new_list)

[50, 40, 30, 20, 10]

In [18]:
nums = [10,20,30,40,50]
print(nums[1:4])

[20, 30, 40]

In [21]:
# Adding Items
listt = [10,20,30]
listt.append(60)
print(listt)

[10, 20, 30, 60]

In [24]:
# Inserting the Items
listt = [10, 20, 30]
listt.insert(2,40)
print(listt)

[10, 20, 40, 30]

In [27]:
# Removing Items and Pop
listt = [10,20,30]
listt.pop()
print(listt)

[10, 20]

In [28]:
listt = [10,20,30,40]
listt.remove(30)
print(listt)

[10, 20, 40]

In [29]:
popped = listt.pop(2)
value = popped + 100
print(value)

140