In [ ]:
# Own code 
n = 5
for rows in range(1, n+1):
    for cols in range(1, n+1):
        if (rows + cols) % 2 == 0:
            print(1, end = " ")
        else:
            print(0, end = " ")
    print()

# Day5 Strings

In [2]:
string = "PYTHON"
print(string.isupper())

True

In [4]:
string = "python"
print(string.islower())

True

In [5]:
string = "pYTHon"
new_string = string.lower()
print(string)
print(new_string)

pYTHon
python

In [6]:
string = "pYTHon"
new_string = string.upper()
print(string)
print(new_string)

pYTHon
PYTHON

In [31]:
# A - Z ===> 65 - 90
# a -z ===> 97 - 122
print(ord("A"))
print(ord("Z"))

print(ord("a"))
print(ord("b"))
print(ord("c"))
print(ord("z"))


print(ord("1"))
print(ord("9"))
print(ord("J"))

65
90
97
98
99
122
49
57
74

In [11]:
string = input()
# if 65 <= ord(string) <= 90:
if (ord(string) >= 65) and (ord(string) <= 90):
    print("Capital")
else:
    print("small")

 t

small

In [22]:
string = input()
if (65 <= ord(string) <= 90) or (97 <= ord(string) <= 122):
    print("Alphabet")
elif 48 <= ord(string) <= 57:
    print("Number")
else:
    print("special character")

 @

special character

In [25]:
# its can represents the separate letters in which type 
string = input()
for char in string:
    if (65 <= ord(char) <= 90) or (97 <= ord(char) <= 122):
        print(f"{char} - Alphabet")
    elif 48 <= ord(char) <= 57:
        print(f"{char} - Number")
    else:
        print(f"{char} - special character")

 Rkce123@gmail.com

R - Alphabet
k - Alphabet
c - Alphabet
e - Alphabet
1 - Number
2 - Number
3 - Number
@ - special character
g - Alphabet
m - Alphabet
a - Alphabet
i - Alphabet
l - Alphabet
. - special character
c - Alphabet
o - Alphabet
m - Alphabet

In [ ]:
# its can represents the every one in counts / aphabets, numbers, special characters
string = input()
for char in string:
    if (65 <= ord(char) <= 90) or (97 <= ord(char) <= 122):

In [30]:
char = input()
asci = ord(char)
if asci >= 65 and asci <= 90:
    print("Upper")
else:
    print("Lower")

 a

Lower

In [50]:
char = input()
asci = ord(char)
if (asci >= 65 and asci <= 90) or (asci >= 97 and asci <= 122):
    print("Alphabet")
elif (asci >= 48 and asci <= 57):
    print("Digit")
else:
    print("special character")

 rkce@gmail.com123

Alphabet
Alphabet
Alphabet
Alphabet
special character
Alphabet
Alphabet
Alphabet
Alphabet
Alphabet
special character
Alphabet
Alphabet
Alphabet
Digit
Digit
Digit

In [52]:
string = input()
for char in string:
    asci = ord(char)
    if (asci >= 65 and asci <= 90) or (asci >= 97 and asci <= 122):
        print(f"{char} - Alphabet")
    elif (asci >= 48 and asci <= 57):
        print(f"{char} - Digit")
    else:
        print(f"{char} - special character")

 rkce123

r - Alphabet
k - Alphabet
c - Alphabet
e - Alphabet
1 -Digit
2 -Digit
3 -Digit

In [58]:
# its can represents the every one in counts / aphabets, numbers, special characters
string = input()
alpha_count = 0
digit_count = 0
sc_count = 0
for char in string:
    asci = ord(char)
    if (asci >= 65 and asci <= 90) or (asci >= 97 and asci <= 122):
        # print(f"{char} - Alphabet")
        alpha_count += 1
    elif (asci >= 48 and asci <= 57):
        # print(f"{char} - Digit")
        digit_count += 1
    else:
        # print(f"{char} - special character")
        sc_count += 1
print(f"""alphabets found in {string} are : {alpha_count}
digit found in {string} are : {digit_count}
special characters found in {string} are : {sc_count}""")

 asdf1234@#$%.com

alphabets found in asdf1234@#$%.com are : 7
digit found in asdf1234@#$%.com are : 4
special characters found in asdf1234@#$%.com are : 5

In [60]:
print(ord("S"))
print(ord("I"))

83
73

In [63]:
print(ord("B"))
print(ord("A"))
print(ord("L"))
print(ord("U"))

66
65
76
85

In [78]:
# add the asci value in name
string = input()
sum = 0 
for char in string:
    if 65 <= ord(char) <= 90 or 97 <= ord(char) <= 122:
        sum = sum + ord(char)
print(sum)

 BALU

292

In [79]:
name = input()
summ = 0
for char in name:
    summ += ord(char)
print(summ)

 AJAY

293

# Dictionaries

In [80]:
d1 = {"Fruit":["Mango","Banana"], "Flower":["Rose", "Lotus"]}
d2 = {('India, USA'):'Countries', ('New Delhi', 'New York'):'Capitals'}
print (d1)
print (d2)

{'Fruit': ['Mango', 'Banana'], 'Flower': ['Rose', 'Lotus']}
{'India, USA': 'Countries', ('New Delhi', 'New York'): 'Capitals'}

In [83]:
numbers = {1:"one", 2:"two"}
marks = {"English":45, "Telugu":50}
print(numbers)
print(marks)

{1: 'one', 2: 'two'}
{'English': 45, 'Telugu': 50}

In [85]:
# find out the key or value
hashmap = {
    "name": "Balu Naik",
    "location": "Macherla"
}
print(hashmap["name"])

Balu Naik

In [86]:
# how to find in key in dictionaries
hashmap = {
    "name": "Balu Naik",
    "location": "Macherla"
}
for key in hashmap.keys():
    print(hashmap[key])

Balu Naik
Macherla

In [87]:
# how to find in values in dictionaries
hashmap = {
    "name": "Balu Naik",
    "location": "Macherla"
}
for value in hashmap.values():
    print(value)

Balu Naik
Macherla

In [88]:
# how to find in only keys
hashmap = {
    "name": "Balu Naik",
    "location": "Macherla"
}
for key in hashmap.keys():
    print(key)

name
location

In [89]:
# how to enters string in dictionaries key and values in format
hashmap = {
    "name": "Balu Naik",
    "location": "Macherla"
}
for key, value in hashmap.items():
    print(f"{key} - {value}")

name - Balu Naik
location - Macherla

In [90]:
# how to enter invalid string in dictionaries
hashmap = {
    "name": "Balu Naik",
    "location": "Macherla"
}
print(hashmap.get("age", "not found"))

not found

In [94]:
# how to find number of strings in same letter
string = input()
hashmap = {}
for char in string:
    if char in hashmap.keys():
        hashmap[char] += 1
    else:
        hashmap[char] = 1
print(hashmap)

 college

{'c': 1, 'o': 1, 'l': 2, 'e': 2, 'g': 1}

In [10]:
# how to find in taken values or keys that can construct the ratio value how many times in numbers can there
name = map(int, input().split())
hashmap = {}
for array in name:
    if array in hashmap.keys():
        hashmap[array] = hashmap[array] + 1
    else:
        hashmap[array] = 1
print(hashmap)

 10 20 30 40 20 30 40

{10: 1, 20: 2, 30: 2, 40: 2}

In [12]:
array = [1,2,2,3,3,3]
hashmap = {}
for ele in array:
    if ele in hashmap.keys():
        hashmap[ele] += 1
    else:
        hashmap[ele] = 1
print(hashmap)

{1: 1, 2: 2, 3: 3}

In [15]:
# it can represents to find out the hightest repeated values can print
array = list(map(int, input().split()))
hashmap = {}
for ele in array:
    if ele in hashmap.keys():
        hashmap[ele] += 1
    else:
        hashmap[ele] = 1
res = []
maxi = max(hashmap.values())
for key, value in hashmap.items():
    if maxi == value:
        res.append(key)
print(min(res))

 1 2 2 2 3 3

2

In [26]:
# Input: abab
# Output: a2b2
string = input()
hashmap = {}
array = []
for ele in string:
    if ele in hashmap:
        hashmap[ele] += 1
    else:
        hashmap[ele] = 1
    if ele not in array:
        array.append(ele)
new_string = ""
for ele in array:
    new_string += str(ele) + str(hashmap[ele])

print(new_string)

 college

c1o1l2e2g1

In [38]:
# update()
d = {"city": "hyd"}
d.update({"city": "macherla", "age": 23 , "location": "Ibm"})
print(d)

{'city': 'macherla', 'age': 23, 'location': 'Ibm'}

In [39]:
# pop()
print(d.pop("age"))

23

In [41]:
print(d.pop("gender", "N/A"))

N/A

In [42]:
# popitem()
print(d.popitem())

('location', 'Ibm')

In [43]:
# clear()
d.clear()
print(d)

{}

In [44]:
# copy()
d1 = {"a": 1, "b": 2}
d2 = d1.copy()
print(d2)

{'a': 1, 'b': 2}

In [45]:
# setdefault(key, default)
d = {"name": "Balu"}
print(d.setdefault("age", 22))
print(d)

22
{'name': 'Balu', 'age': 22}

In [49]:
# fromkeys(keys, value)
keys = {"a", "b", "c"}
d = dict.fromkeys(keys, 0)
print(d)

{'b': 0, 'a': 0, 'c': 0}

# Set Methods