# **Print()**

***

In [1]:
print("Hello","world")

Hello world

# Objects in between space

In [3]:
print("Hello","world", sep = ",")

Hello,world

In [5]:
print("Hello","world", sep = " and ")

Hello and world

# 2) separate objects usind sep

In [9]:
print("hel\nlo")     # \n ==> newline
print("World")

hel
lo
World

In [10]:
print("Hello", end = " ")
print("World")

Hello World

In [11]:
print("Hello", end = "\n")
print("World")

Hello
World

# Patterns in python

In [39]:
# Right triangle pattern
for i in range(6):
    for j in range(i):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *

In [26]:
# Pyramid pattern in reverse downward triangle
for i in range(6):
    for j in range(6-i):
        print("*", end = " ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [28]:
# left triangle pattern
for i in range(6):
    for k in range(6-i):
        print(" ", end= " ")
    for j in range(i):
        print("*", end = " ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [31]:
# pyramid pattern
for i in range(6):          #rows
    for k in range(6-i):
        print("", end= " ")
    for j in range(i):      # col
        print("*", end = " ")
    print(end="\n")

     *
    * *
   * * *
  * * * *
 * * * * *

In [53]:
# Hill pattern
n = 5
for i in range(n):
    for j in range(i,n):
        print(" ",end = ' ')
    for j in range(i+1):
        print("*",end=' ')
    for j in range(i+1):
        print("*",end=' ')
    print()

          * *
        * * * *
      * * * * * *
    * * * * * * * *
  * * * * * * * * * *

In [55]:
# Hill pattern
n = 5
for i in range(n):
    for j in range(i,n):
        print(" ",end = ' ')
    for j in range(i):
        print("*",end=' ')
    for j in range(i+1):
        print("*",end=' ')
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [62]:
# Reverse Hill pattern
n = 5
for i in range(n):
    for j in range(i+1):
        print(' ', end=' ')
    for j in range(i,n):
        print("*", end =" ")
    for j in range(i,n):
        print("*", end =" ")
    print()

  * * * * * * * * * *
    * * * * * * * *
      * * * * * *
        * * * *
          * *

In [67]:
# Reverse Hill Pattern
n = 5
for i in range(n):
    for j in range(i+1):
        print(' ', end=' ')
    for j in range(i,n-1):
        print("*", end =" ")
    for j in range(i,n):
        print("*", end =" ")
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [70]:
# Diamond pattern
n = 5
for i in range(n):
    for j in range(i,n):
        print(" ",end = ' ')
    for j in range(i):
        print("*",end=' ')
    for j in range(i+1):
        print("*",end=' ')
    print()
for i in range(n):
    for j in range(i+1):
        print(" ", end=" ")
    for j in range(i, n-1):
        print("*", end=" ")
    for j in range(i,n):
        print("*", end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [71]:
# Diamond pattern
n = 5
for i in range(n-1):
    for j in range(i,n):
        print(" ",end = ' ')
    for j in range(i):
        print("*",end=' ')
    for j in range(i+1):
        print("*",end=' ')
    print()
for i in range(n):
    for j in range(i+1):
        print(" ", end=" ")
    for j in range(i, n-1):
        print("*", end=" ")
    for j in range(i,n):
        print("*", end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [87]:
# Sandglass pattern
n = 5
for i in range(n):
    for j in range(i+1):
        print(" ", end=" ")
    for j in range(i, n-1):
        print("*", end=" ")
    for j in range(i,n):
        print("*", end=" ")
    print()
for i in range(n):
    for j in range(i,n):
        print(" ", end=" ")
    for j in range(i):
        print("*", end=" ")
    for j in range(i+1):
        print("*", end=" ")
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *
          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

# Numbers in Pattern

In [94]:
n = 5
p = 1
for i in range(n):
    for j in range(i+1):
        print(p, end=" ")
    p += 1
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [104]:
# it can represents and form the pattern of sequence
n = 5
p = 1
for i in range(n):
    for j in range(i+1):
        print(p, end=" ")
        p += 1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [100]:
n = 5
p = 1
for i in range(n):
    for j in range(i+1):
        print(p, end=" ")
    p += 1
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [103]:
n = 5
p = 5
for i in range(n):
    for j in range(i+1):
        print(p, end=" ")
    p -= 1
    print()

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [106]:
n = 5
p = 0
for i in range(n):
    for j in range(i+1):
        print(p, end=" ")
    p += 2
    print()

0
2 2
4 4 4
6 6 6 6
8 8 8 8 8

In [113]:
# To define the numbers in odd and even in rows
n = 5
for i in range(n):
    for j in range(i+1):
        if i%2 == 0:
            print('1', end=" ")
        else:
            print("2", end=" ")
    print()

1
2 2
2 2 2
1 1 1 1
2 2 2 2 2

In [127]:
n = 5
p = 1
for i in range(n):
    for j in range(i,n):
        print(' ', end=" ")
    for j in range(i):
        print(p, end=" ")
    for j in range(i+1):
        print(p, end= " ")
    p += 1
    print()
for i in range(n):
    for j in range(i+1):
        print(" ", end= " ")
    for j in range(i,n-1):
        print(p, end= " ")
    for j in range(i,n):
        print(p, end=" ")
    p -= 1
    print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
  6 6 6 6 6 6 6 6 6
    5 5 5 5 5 5 5
      4 4 4 4 4
        3 3 3
          2

In [3]:
n = 5
for i in range(n):
    for j in range(n):
        if (i == j or i + j == n - 1):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

*       *
  *   *
    *
  *   *
*       *

In [7]:
n = 5
for i in range(n):
    for j in range(n):
        if (i == n // 2 or j == n // 2):
            print("*", end = " ")
        else:
            print(" ", end = " ")
    print()

    *
    *
* * * * *
    *
    *

In [4]:
# create calendar in python
import calendar
yy = 2013
mm = 10
print(calendar.month(yy, mm))

    October 2013
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31